@media screen and (max-width: 700px) {
    *{
        background-color: #1d1c1d;
    }
 


    .icon-section {
        display: block;
    }
    .navbutton {
        display: none;
    }
 
.items-section.responsive>li {
    display: block;
    margin-bottom: 20px;

}.items-section.responsive>li:first-child {
    display: block;
    margin-top: 20px;

}
.items-section {
    display: none;
}
.items-section.responsive {
    display: block;
    width: 100%;
    text-align: center;
}
.brand-section {
    display: none;
}
.icon-section {
        position: absolute;
            right: 10%;
            top: 10%;
}






}


@media screen and (min-width: 700px) {
 


    .icon-section {
        display:none;
     }
    
    }