@media screen and (max-width: 600px) {
    *{
        background-color: #1d1c1d;
    }
 
 
.items-section.responsive>li {
    display: block;
    margin-bottom: 20px;

}.items-section.responsive>li:first-child {
    display: block;
    margin-top: 20px;

}
.items-section {
    display: none;
}
.items-section.responsive {
    display: block;
    width: 100%;
    text-align: center;
}
.brand-section {
    display: none;
}
.icon-section {
        position: absolute;
            right: 0;
            top: 0;
}






}