* {
     padding: 0px;
            background-color: #1d1c1d;
            margin: auto;
 }
 
body {
     font-family: serif ;
}
/*********** **** */




.navbar {
        margin: 0 20px 0 20px;
        
  }
  .nav-link:hover {
      color: #e5f2c9;

  }  .item:hover {
      color: #e5f2c9;

  }
.navbar-nav {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
 }
 .nav-item > a {
     color: #e5f2c9;
        text-decoration: none;
 }

.navbar-nav>li {
    display: inline-block;
    float: none;
    margin-right: 10px;
    text-decoration: none;
 }
.myButton {
    background-color: #1d1c1d;
    border-radius: 28px;
    border: 1px solid #e5f2c9;
    display: inline-block;
    cursor: pointer;
    color: #e5f2c9;
    font-family: Arial;
    font-size: 17px;
    padding: 5px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}
.myButton:hover {
    color: #e5f2c9;
}
#main-info{
     /* width: 100%; */
     display: flex;
     
    
    
}
.cvButton {
    margin-top: 4%;
    margin-bottom: 20px;
}
.imageSectoin {
    padding: 4% 7% 2% 8%;
        flex: 40%;
        text-align: center;
}
.infoText {
    flex: 70%;
        padding: 10% 0% 0% 0%;
        text-align: center;
}
/* .main-info > div {
width: 50%;
padding: 4% 0% 1% 10%;
position: relative;
         
} */
.imageProfile {
    width: 100%;

 
}

.Title1 {
    color: azure;
     font-size: 32px;
}
.Title2 {
    color: azure;
     font-size: 32px;
} 
.Title3 {
        color: azure;
        font-size: 20px;
 }
span {
    color: #e5f2c9;
    text-decoration: underline;
}
.icons {
    text-align: center;
}
/* .navbar {
    background-color: rgb(253, 253, 253);
    height: 100px;
    width: 100%;
    margin-bottom: 100px;
    margin-left: 50px;
}
.logo {
    width: 202px;
    height: 137px;
}
.profile {
    width: 415px;
    height: 415px;
}
/
